<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <%= form_with model: post,local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <%= link_to_add_association '写真の追加',
        # form_withのformタグ変数
        f,
        # フォームのデータを追加するモデル名
        :pictures,
        # 追加するフォームの部分テンプレート
        partial: "public/pictures/pictures_fields",
        # オプション
        data: {
          # フォームを追加する場所の指定
          association_insertion_node: '#picture-forms',
          # フォームを前後どの位置に追加するか。(初期値: before)
          association_insertion_method: 'after'
        },
        # フォームオブジェクトを指定する場合(初期値 : f)
        form_name: 'picture'
      %>
      <hr>

      <%# フォームを追加する場所。%>
      <%#   link_to_add_associationのassociation_insertion_nodeで指定 %>
      <div id="picture-forms">
        <%= f.fields_for :pictures do |picture| %>
          <% render 'public/pictures/pictures_fields', picture: picture %>
        <% end %>
      </div>


      <div class="form-group">
        <%= f.label :タイトル %>
        <%= f.text_field :title, class: 'form-control post_title' %>
      </div>

      <div class="form-group">
        <%= f.label :説明文 %>
        <%= f.text_area :body, class: 'form-control post_body', placeholder: "コメントはここ" %>
      </div>

      <%= f.submit "投稿する", class: "btn btn-success btn-md" %>
    <% end %>
  </div>
</div>
