<div class="container">
  <div class="row mt-4">
    <div class="col-md-3 text-left">
      <h3>投稿詳細</h3>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <table class='table'>
        <tr>
          <th>ユーザー名</th>
          <td>
            <%= link_to(@post.user) do %>
              <%= @post.user.name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>タイトル</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th>説明文</th>
          <td><%= @post.body %></td>
        </tr>
        <tr>
          <th>タグ</th>
          <td>
            <% @post.tags.each do |tag|%>
              <%= link_to tag.name, search_path(content: tag.name,model: "tag",method: "perfect") %> 
            <% end%>
          </td>
        </tr>
        <tr>
          <th>レビュー</th>
          <td><%= render 'post_reviews/static_rate',post: @post %></td>
        </tr>
        <tr>
        <th>写真</th>
        <td>
          <% @pictures.each do |picture| %>
              <%= image_tag picture.image, size: "300x190" if picture.image.attached? %>
          <% end %>
        </td>
      </tr>
        <% if @post.user == current_user %>
          <tr>
            <td colspan=2>
              <%= link_to '編集', edit_post_path(@post), class: "btn btn-md btn-success edit_post_#{@post.id}" %>
              <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-md btn-danger destroy_book_#{@post.id}" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <%= render "post_comments/index", post: @post %>
  <%= render "post_comments/form", post: @post, post_comment: @post_comment %>
  <% if current_user != @post.user && !@post.post_reviews.map(&:user_id).include?(current_user.id) %>
    <%= render "post_reviews/form", post: @post, post_review: @post_review %>
  <% elsif @post.post_reviews.exists?(user_id: current_user.id) %>
     <%= link_to "レビューを削除", post_post_review_path(post_id: @post.id, id: @post.post_reviews.find_by(user_id: current_user.id).id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-md btn-danger mt-2 destroy_book_#{@post_review.id}" %>
  <% end %>

</div>
