<% if @model == 'user' %>
	<h3 class="mt-4">ユーザー検索結果 "<%= @content %>"</h3>
  <%= render 'admin/users/users', users: @records %>
<% elsif @model == 'post' %>
	<h3 class="mt-4">投稿検索結果 "<%= @content %>"</h3>
  <%= render 'admin/posts/index', posts: @records %>
<% elsif @model == 'book' || @model == 'tag' %>
	<h3 class="mt-4">タグ検索結果 "<%= @content %>"</h3>
  <%= render 'admin/posts/index', posts: @records %>
<% end %>