<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ユーザー名</th>
      <th>説明文</th>
      <th>写真</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td width="15%"><%= post.title %></td>
        <td width="15%"><%= post.user.name %></td>
        <td width="25%"><%= post.body %></td>
        <td width="30%">
          <% post.pictures.each do |picture| %>
            <%= image_tag picture.image, size: "70x40" if picture.image.attached? %>
          <% end %>
        </td>
        <td width="10%"><%= link_to "詳細", admin_post_path(post), class: "btn btn-primary" %></td> 
      </tr>
    <% end %>
  </tbody>
</table>