<div class="form-group" id="star_form">
  <%= form_with(model:[post, post_review], local: true) do |f| %>
    <%= f.label :レビュー %>
    <div id="post_raty"></div>
  <%= f.submit class: 'btn btn-success' %>
</div>
</div>
  <script>
    $(document).on('turbolinks:load', function() {
      let elem = document.querySelector('#post_raty');
      if (elem == null) return;

      elem.innerHTML = ""
      let opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'post_review[star]',
      };
      raty(elem, opt);
    });
  </script>
<% end %>